.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

vinbigdata-dataset
output
chest-X-rays/classifier/data
chest-X-rays/data/train/*
data
vinbigdata
NIH-Chest-X-ray-Dataset

__pycache__
.idea/
